{{> head }}
{{> navbar }}

<div class='row'>

    <div class='col-8'>
        <h1>
            Catz
        </h1>
        <p>
            Meeeeouw fat baby cat best buddy little guy warm up laptop with butt lick butt fart 
            rainbows until owner yells pee in litter box hiss at cats. Cuddle no cuddle cuddle love 
            scratch scratch lick the curtain just to be annoying for lick left leg for ninety minutes
            , still dirty reward the chosen human with a slow blink leave fur on owners clothes yet 
            lay on arms while you're using the keyboard, or mice. Pretend you want to go out but then
            don't knock over christmas tree swat at dog
        </p>
    </div>

    <div class='col-4'>
        <img src='../assets/img/kitty.png' class='img-thumbnail'>
    </div>

</div>

{{> footer }}